<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias alias="User" type="com.easyPayment.main.domains.User" />
		<typeAlias alias="Lottery" type="com.easyPayment.main.domains.Lottery" />
		<typeAlias alias="EasyPayAccount" type="com.easyPayment.main.domains.EasyPayAccount" />
		<typeAlias alias="Transaction" type="com.easyPayment.main.domains.Transaction" />
		<typeAlias alias="UserBankAccount" type="com.easyPayment.main.domains.UserBankAccount" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/user-mapper.xml" />
		<mapper resource="mybatis/lottery-mapper.xml" />
		<mapper resource="mybatis/eastPayAcc-mapper.xml" />
		<mapper resource="mybatis/transaction-mapper.xml" />
		<mapper resource="mybatis/UserBankAccount-mapper.xml" />
	</mappers>

</configuration>