<!DOCTYPE html>
<html>
    <head>
        <title>Easy Payment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="resources/bootstrap-3.3.6-dist/css/bootstrap.min.css" property="" />
        <script src="resources/js/jquery-1.12.2.min.js"></script>
        <script src="resources/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
        <style>
            body{
                width: 98.8%;
            }
            #forHead{
                height: 80px;
                width: 100%;
            }
            #Navi{
                background: url(resources/images/Header.png);
            }

            #regForm{
                padding-top: 10%;
                background-image: url(resources/images/home.jpg);
                background-size: 100%;
            }
            #id_footer{
                background-color: lightblue;
                height: 50px;
                width: 100%;
                /*box-sizing: border-box;*/
                bottom: 0;
                margin-top: 50px;
                padding-top: 10px;

            }

        </style>
    </head>
    <body>

        <!--    navigator   -->
        <div class="row" >
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <nav class="navbar navbar-fixed-top" role="navigation" id="Navi">
                    <div class="navbar-header">
                        <a class="navbar-brand" >Easy Payment </a>
                    </div>
                    <div>
                        <ul class="nav nav-pills">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="register.html">sign up Now </a></li>
                            <li><a href="appDownload.html">Download App </a></li>
                            <li class="active"><a href="#">sign in </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- user register -->
        <div class="row" id="regForm">
            <div class="col-xs-3"></div>

            <!-- <div class="col-xs-6"></div> -->
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Transfer History
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- <div class="container">          -->

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Time</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tom</td>
                                    <td>Tom</td>
                                    <td>$20.00</td>
                                    <td>SUCCEDDED</td>
                                    <td>12/11/16 5:22:12 PM</td>
                                    <td>Transfer to back</td>
                                </tr>
                                <tr>
                                    <td>Tom</td>
                                    <td>Jack</td>
                                    <td>$20.00</td>
                                    <td>SUCCEDDED</td>
                                    <td>12/11/16 5:22:12 PM</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Tom</td>
                                    <td>Jack</td>
                                    <td>$20.00</td>
                                    <td>SUCCEDDED</td>
                                    <td>12/11/16 5:22:12 PM</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>


        <div id="id_footer" class="navbar-fixed-bottom text-center" >Copyright @2016 by TeamTech</div>

        <script>
            total = document.documentElement.clientHeight;
            colHeight = total;
            document.getElementById("regForm").style.height = colHeight + "px";
        </script>

        <!-- model for Private Policy  -->
        <div class="modal fade" id="privacyPolicy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Privacy Policy
                        </h4>
                    </div>
                    <div class="modal-body">
                        1. A Privacy Policy is a legal statement that specifies what the business owner does with the personal data collected from users, along with how the data is processed and why.
                        In 1968, Council of Europe did studies on the threat of the Internet expansion as they were concerned with the effects of technology on human rights. This lead to the development of policies that were to be developed to protect personal data.
                        This marks the start of what we know now as a “Privacy Policy”. While the name “Privacy Policy” refers to the legal agreement, the concept of privacy and protecting user data is closely related.
                        <br><br> 2. This agreement can also be known under these names:
                        -Privacy Statement<br> 
                        -Privacy Notice<br> 
                        -Privacy Information<br> 
                        -Privacy Page<br><br> 
                        3. The Privacy Policy can be used for both your website and mobile app if it’s adapted to include the platforms your business operates on.
                        The contents of a Privacy Policy may differ from one country to another, depending on the country legislation, but most privacy laws identify the following critical points that a business must comply with when dealing with personal data:
                        Notice. Data collectors (meaning, you or your company) must make clear what they are doing with the personal information from users before gathering it.
                        Choice. The companies collecting the data must respect the choices of users on what information to provide and how personal that provided information will be.
                        Access. Users should be able to view or contest the accuracy of personal data collected by the company.
                        Security. The companies are entirely responsible for the accuracy and security (keeping it properly away from unauthorized eyes and hands) of the collected personal information.
                        This means that a “Privacy Policy” serves as a way to inform users how their personal information will be used, along with how the information will be collected and who has access to it.

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="customerPolicy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Customer Agreement
                        </h4>
                    </div>
                    <div class="modal-body">
                        1. A Privacy Policy is a legal statement that specifies what the business owner does with the personal data collected from users, along with how the data is processed and why.
                        In 1968, Council of Europe did studies on the threat of the Internet expansion as they were concerned with the effects of technology on human rights. This lead to the development of policies that were to be developed to protect personal data.
                        This marks the start of what we know now as a “Privacy Policy”. While the name “Privacy Policy” refers to the legal agreement, the concept of privacy and protecting user data is closely related.
                        <br><br> 2. This agreement can also be known under these names:
                        -Privacy Statement<br> 
                        -Privacy Notice<br> 
                        -Privacy Information<br> 
                        -Privacy Page<br><br>    
                        3. The Privacy Policy can be used for both your website and mobile app if it’s adapted to include the platforms your business operates on.
                        The contents of a Privacy Policy may differ from one country to another, depending on the country legislation, but most privacy laws identify the following critical points that a business must comply with when dealing with personal data:
                        Notice. Data collectors (meaning, you or your company) must make clear what they are doing with the personal information from users before gathering it.
                        Choice. The companies collecting the data must respect the choices of users on what information to provide and how personal that provided information will be.
                        Access. Users should be able to view or contest the accuracy of personal data collected by the company.
                        Security. The companies are entirely responsible for the accuracy and security (keeping it properly away from unauthorized eyes and hands) of the collected personal information.
                        This means that a “Privacy Policy” serves as a way to inform users how their personal information will be used, along with how the information will be collected and who has access to it.

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
